.navlink{
	float: center;
	list-style: none;
	margin-top: 30px;
	text-align: center;
	margin-top: 0;
}
.navlink li {
	display: inline-block;
	padding: 30px;
	padding-top: 0;
}
.navlink li a {
	color: #000000;
	text-decoration: none;
	padding: 5px 10px;
	font-family: poppins;
	font-size: 16px;
}
.navlink li a:hover {
	background: #e8b870;
	color: #000000;
}
body{
	background-image: url('../images/image2.jpg');
	background-size: cover;
}
.container{
	position: relative;
	max-width: 800px;
	padding: 10px;
	margin: 50px auto;
}
.addTask{
	width: 100%;
	display: flex;
	padding: 10px 0;
}
.addTask > input[type="text"]{
	width: 90%;
	color: #333;
	border:none;
	border-bottom: 2px solid #666;
	background: none;
	padding: 10px;
	font-size: 22px;
	outline: none;
}
.addTask button{
	margin: 0 10px;
	background: #222;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}

h1{
	text-align: center;
	font-size: 45px;
}
h3{
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}